
@import url(normalize.css);
@import url(responsive.gs.css);


/* Import the font file with the icons in it */
@font-face {
  font-family: 'icons';
  src:url('../fonts/icons.eot');
  src:url('../fonts/icons.eot?#iefix') format('embedded-opentype'),
      url('../fonts/icons.woff') format('woff'),
      url('../fonts/icons.ttf') format('truetype'),
      url('../fonts/icons.svg#icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Apply these base styles to all icons */
.icon-ghost, .icon-feed, .icon-twitter, .icon-google-plus, .icon-facebook {
  font-family: 'icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

/* Each icon is created by inserting the corret character into the 
 content of the :before pseudo element. Like a boss. */
.icon-ghost:before {
  content: "\e000";
}
.icon-feed:before {
  content: "\e001";
}
.icon-twitter:before {
  content: "\e002";
}
.icon-google-plus:before {
  content: "\e003";
}
.icon-facebook:before {
  content: "\e004";
}

html {
  height: 100%;
  max-height: 100%;
}

body {
  height: 100%;
  max-height: 100%;
  font: 22px "Alegreya", serif;
  color: #3A4145;
  background-color: #FAFAFA;
}

/* Centres vertically yo. (IE8+) */
.vertical {
  display: table-cell;
  vertical-align: middle;
}

footer {
  text-align: center;
  padding: 50px;
}

p {
  font-size: 1em; /* 22px */
  line-height: 1.1364em; /* 25px */
  margin: 0 0 1.1364em 0;
}

h1, h2, h3, h4, h5, h6 {
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2.7273em; /* 60px */
  line-height: 1.2500em; /* 75px */
  margin-top: 0.4167em;
  margin-bottom: 0.0000em;
}

h2, h3{
  font-size: 2.1818em; /* 48px */
  line-height: 1.0417em; /* 50px */
  margin-top: 0.5208em;
  margin-bottom: 0.5208em;
}

a, .article_tags {
  color: #1B5766;
}

a:hover {
  color: #4F777F;
}

#site-head {
  position: relative;
  display: table;
  width: 100%;
  height: 60%;
  margin-bottom: 5rem;
  text-align: center;
  color: #fff;
  padding-top: 30px;
  background: #303538 no-repeat center center;
  background-size: cover;
}

/* Yo-logo. Yolo-go. Upload one in ghost/settings/ */
.blog-logo img {
  display: block;
  max-height: 100px;
  width: auto;
  margin: 0 auto;
  line-height: 0;
}

/* The details of your blog. Defined in ghost/settings/ */
.blog-title {
  margin: 10px 0 10px 0;
  text-shadow: 0 1px 6px rgba(0,0,0,0.1);
}

.blog-description {
  text-shadow: 0 1px 3px rgba(0,0,0,0.15);
}

.pagination {
  clear: both;
  margin: auto;
  text-align: center;
}

.newsDate {
  font-size: 0.8182em; /* 18px */
  line-height: 1.3889em; /* 25px */
  margin-top: 1.3889em;
  margin-bottom: 0.0000em;
}

::-moz-selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}

::selection {
  color: #222;
  background: #D6EDFF;
  text-shadow: none;
}

.post {
  padding: 16px;
  border-bottom: 1px solid #eee;
}

.post-header {
  text-align: center;
}

.post-title, .post-title > a {
  color: #3A4415;
  text-decoration: none;
  font-weight: normal;
  font-family: "Alegreya";
}
  .post-title > a:hover {
    text-decoration: underline;
    color: #4F777F;
    transition: all 0.2s ease;
  }

.post:nth-last-child(2), .post:last-child, .post:only-child {
  border-bottom: none;
}

.pagination {
  padding: 30px;
}

nav {
  text-align: center;
}

nav.sticky_nav {
  position: relative;
  width: 100%;
  background-color: #FAFAFA;
  padding: 0px 0;
  z-index: 9999999;
}

nav a {
  text-decoration: none;
  text-transform: lowercase;
  font-family: 'Alegreya Sans SC';
}

.filter {
  text-decoration: none;
}
.filter:hover {
  text-decoration: underline;
}

.author-profile {
  text-align: center;
}

.author-image {
  width: 100%;
}

.hidden {
  display: none;
}

img, iframe {
  display: block;
  text-align: center;
  max-width: 100%;
  margin: 16px auto;
  height: auto;
}

#filter_wrapper {
}

#filter_wrapper > a {
  text-decoration: none;
}

#filter_wrapper > a > img {
  display: inline;
  max-width: 200px;
  padding: 4px;
  height: auto !important;
  cursor: pointer;
  transition: all 200ms;
}

img.filter_active {
  background: #1B5766;
}

@media ( max-width : 800px ) {

  #filter_wrapper > a > img {
    max-width: 150px;
    padding: 4px;
    margin: 6px;
  }
}

@media ( max-width : 632px ) {

  .newsDate {
    font-size: 0.6364em; /* 14px */
    line-height: 1.7857em; /* 25px */
    margin-top: 1.7857em;
    margin-bottom: 0.0000em;
  }

  #filter_wrapper > a > img {
    max-width: 75px;
    padding: 4px;
    margin: 6px;
  }
}